<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="OctopusProjects" type="OctopusVarChecker.Config.OctopusProjectsSection, OctopusVarChecker"/>

    <!-- Other <section> and <sectionGroup> elements. -->
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <OctopusProjects host="http://tfs-octopus.eurotunnel.org" apiKey="API-ATTGLUNH2OJMV5XCME1XOVK">
    <projects>
      <add name="ISISCOM_MANAGER_CIS" path="D:\TFS\ISISCOM\Dev\ET.IsisCom.Cis\ET.IsisCom.Cis.Manager" />
      <add name="ISISCOM_CIS" path="D:\TFS\ISISCOM\Dev\ET.IsisCom.Cis\ET.IsisCom.Cis.Front" />
    </projects>
  </OctopusProjects>
</configuration>